body {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
}

.markdown-body {
    background-color: #0d1117 !important;
    color: #c9d1d9 !important;
}

a {
    color: #58a6ff !important;
}